html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana; }

body {
  padding: 0;
  margin: 0;
  overflow: hidden; }

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 250px; }

#main {
  width: 100%;
  height: 100%;
  min-height: 250px; }

#nav {
  height: 50px;
  background-color: #202428; }

#sidebar {
  background-color: #282D32;
  color: #fff; }

#sidebar ul {
  list-style-type: none; }

#content-pane {
  background-color: #fff; }

.navbar {
  margin-bottom: 0;
  height: 40px; }

.navbar-inverse {
  background-color: #202428; }

.navbar-inverse span.navbar-brand,
.navbar-inverse span.navbar-brand:hover {
  color: #00BCF2; }
