<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Azure KeyVault Explorer - Lukas Holota</title>
  <!--
  <link rel="stylesheet" type="text/css" href="../assets/css/theme.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
  -->
  <link rel="stylesheet" type="text/css" href="../../libs/photon/dist/css/photon.min.css">
</head>
<body>

 <div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Header</h1>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">...</div>
      <div class="pane">...</div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>
</div>

  <script>require('../controllers/index.js')</script>
</body>
</html>